<%- include('partials/header') %>

    <a class="item" href="/upload">
        Upload
    </a>
    <a class="item" href="/fileList">
        Photos
    </a>
    <a class="item" href="/archived">
        Archived Images
    </a>

    <a class="item" href="/hidden">
        Hidden Images
    </a>

    <a class="item active" href="/deleted">
        Deleted Images
    </a>

    <div class="right menu">
        <div class="item">
            <a href="/logout" class="large ui google plus button">
                <i class="google plus icon"></i> Signout
            </a>
        </div>
    </div>
    </div>

    <div class="ui container" style="margin-top: 10px;">

        <div class="image-list">

            <% if (success && files) { %>
                <a class="btn btn-block btn-danger" href="/deleted">Click Here to see the deleted images</a>
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>Success!</strong> Here are your images.
                </div>


                <% if ( files.length===0) { %>
                    <h3 style="color: red;">0 files found</h3>
                    <% } else{%>

                        <% for( let index=0; index < files.length; index++ ) {%>
                            <div style="grid-row-end: span <%=files[index].imageMediaMetadata.height/10 %>">
                                <a href="<%= files[index].webViewLink %>" target="blank">
                                    <iframe src="https://drive.google.com/file/d/<%=files[index].id%>/preview"
                                        alt="mi-pic"></iframe>
                                </a>
                            </div>

                            <% } %>

                                <% } %>

                                    <%}%>



        </div>
    </div>



    <%- include('partials/footer') %>